.gondole-wrap {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  position: relative;
  padding: 0;
  box-sizing: border-box;
}
.gondole-wrap:after {
  content: '';
  width: 100%;
  display: block;
  clear: both;
}
.gondole-wrap .gondola-row {
  width: 100%;
}
.gondole-wrap li,
.gondole-wrap ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.gondole-wrap .gondola-mixin {
  display: inline-block;
  float: left;
  overflow: hidden;
  position: relative;
}
.gondole-wrap .gondola-mixin:after {
  content: '';
  display: block;
}
.gondole-wrap .g-rectangle {
  width: 50%;
  display: inline-block;
  float: left;
  overflow: hidden;
  position: relative;
}
.gondole-wrap .g-rectangle:after {
  content: '';
  display: block;
}
.gondole-wrap .g-rectangle:after {
  padding-bottom: 50%;
}
.gondole-wrap .g-square {
  width: 25%;
  display: inline-block;
  float: left;
  overflow: hidden;
  position: relative;
}
.gondole-wrap .g-square:after {
  padding-bottom: 100%;
}
.gondole-wrap .g-square:after {
  content: '';
  display: block;
}
@media only screen and (max-width: 640px) {
  .gondole-wrap .g-square,
  .gondole-wrap .g-rectangle {
    width: 100%;
  }
  .gondole-wrap .g-square:after,
  .gondole-wrap .g-rectangle:after {
    padding-bottom: 50%;
  }
}
.gondole-wrap .gondola-content-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}
.gondole-wrap img {
  width: 100%;
  display: inline;
}
.gondole-wrap .gondola-content {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  position: relative;
}
.gondole-wrap .gondola-overlay {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.4s;
}
.gondole-wrap .gondola-animation {
  width: 100%;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, 50%);
  -moz-transform: translate(0, 50%);
  -ms-transform: translate(0, 50%);
  -o-transform: translate(0, 50%);
}
.gondole-wrap .g-label {
  display: block;
  color: white;
  padding: 0 20px;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
  line-height: 1.1;
}
.hovereffect {
  overflow: hidden;
  text-align: center;
  cursor: default;
}
.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.hovereffect:hover .overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  display: block;
  position: relative;
  top: 40%;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.hovereffect:hover h2 {
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  -o-transform: translate(0, -100%);
}
.hovereffect span.info {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  font-weight: normal;
  margin: 35px 20px 0 20px;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
@media only screen and (min-width: 768px) {
  .hovereffect span.info {
    margin-top: 60px;
  }
}
.hovereffect:hover span.info {
  opacity: 1;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
